# Core
pandas==2.1.0
numpy==1.24.0
torch==2.5.1

# Text Processing & NLP
nltk==3.8.1
vaderSentiment==3.3.2
scikit-learn==1.3.0
regex==2023.8.8

# Visualization
matplotlib==3.7.2
wordcloud==1.9.2
seaborn==0.12.2

# Testing & Development
pytest==7.4.0
pytest-cov==4.1.0
black==23.9.0  # Code Formatter

# Utilities
python-dotenv==1.0.0  # Für .env Files (falls benötigt)
tqdm==4.66.1  # Fortschrittsbalken
wordcloud==1.9.4

# Database
Flask==2.3.5
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.20